In [78]:
import numpy as np
import pandas as pd

In [79]:
df=pd.read_csv('Blood_Pressure_data.csv')

In [80]:
df

,id,patient_no,cast,gender,age group,weight,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,Med,label
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>5
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),?,1,3,7,3,...,No,Down,No,No,No,No,No,Ch,Yes,>5
101762,443847782,74694222,AfricanAmerican,Female,[80-90),?,1,4,5,5,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),?,1,1,7,1,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),?,2,3,7,10,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),?,1,1,7,6,...,No,No,No,No,No,No,No,No,No,NO

In [81]:
df['diag_2'].value_counts().head(30)

276       6752
428       6662
250       6071
427       5036
401       3736
496       3305
599       3288
403       2823
414       2650
411       2566
250.02    2074
707       1999
585       1871
584       1649
491       1545
250.01    1523
285       1520
780       1491
425       1434
682       1433
486       1379
518       1355
424       1071
413       1042
250.6      895
493        881
305        702
786        644
280        606
998        571
Name: diag_2, dtype: int64

In [82]:
df.drop_duplicates(subset='patient_no',keep=False,inplace=True)

In [83]:
len(df)

54745

In [84]:
for col_name in df.columns:
    if df[col_name].dtypes == 'object':
        unique_cat = len(df[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'cast' has 6 unique categories
Feature 'gender' has 3 unique categories
Feature 'age group' has 10 unique categories
Feature 'weight' has 10 unique categories
Feature 'payer_code' has 18 unique categories
Feature 'medical_specialty' has 68 unique categories
Feature 'diag_1' has 676 unique categories
Feature 'diag_2' has 701 unique categories
Feature 'diag_3' has 722 unique categories
Feature 'max_glu_serum' has 4 unique categories
Feature 'A1Cresult' has 4 unique categories
Feature 'metformin' has 4 unique categories
Feature 'repaglinide' has 4 unique categories
Feature 'nateglinide' has 4 unique categories
Feature 'chlorpropamide' has 4 unique categories
Feature 'glimepiride' has 4 unique categories
Feature 'acetohexamide' has 2 unique categories
Feature 'glipizide' has 4 unique categories
Feature 'glyburide' has 4 unique categories
Feature 'tolbutamide' has 2 unique categories
Feature 'pioglitazone' has 4 unique categories
Feature 'rosiglitazone' has 4 unique categories
Feature 'acarbose' has 3 unique categories
Feature 'miglitol' has 2 unique categories
Feature 'troglitazone' has 2 unique categories
Feature 'tolazamide' has 2 unique categories
Feature 'examide' has 1 unique categories
Feature 'citoglipton' has 1 unique categories
Feature 'insulin' has 4 unique categories
Feature 'glyburide-metformin' has 4 unique categories
Feature 'glipizide-metformin' has 2 unique categories
Feature 'glimepiride-pioglitazone' has 1 unique categories
Feature 'metformin-rosiglitazone' has 2 unique categories
Feature 'metformin-pioglitazone' has 2 unique categories
Feature 'change' has 2 unique categories
Feature 'Med' has 2 unique categories
Feature 'label' has 3 unique categories

In [85]:
print(df['medical_specialty'].value_counts().sort_values(ascending=False).head(20))

?                                  25990
InternalMedicine                    8812
Family/GeneralPractice              3800
Cardiology                          3466
Emergency/Trauma                    2958
Surgery-General                     1775
Orthopedics-Reconstructive           916
Orthopedics                          879
Radiologist                          621
ObstetricsandGynecology              534
Pulmonology                          525
Nephrology                           514
Psychiatry                           473
Urology                              420
Surgery-Cardiovascular/Thoracic      401
Surgery-Neuro                        365
Gastroenterology                     292
Surgery-Vascular                     268
Pediatrics                           164
Oncology                             159
Name: medical_specialty, dtype: int64

In [86]:


df['cast'] = ['Caucasian' if x == 'Caucasian' else 'Other' for x in df['cast']]

In [87]:

print(df['cast'].value_counts().sort_values(ascending=False))

Caucasian    40913
Other        13832
Name: cast, dtype: int64

In [88]:
df.columns

Index(['id', 'patient_no', 'cast', 'gender', 'age group', 'weight',
       'admission_typeid', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'Med', 'label'],
      dtype='object')

In [89]:
df['label'].value_counts()

NO     42701
>5      9878
<30     2166
Name: label, dtype: int64

In [90]:
df['diag_1'].dtype

dtype('O')

In [91]:
df['change'].value_counts()

No    30791
Ch    23954
Name: change, dtype: int64

In [92]:
df['number_diagnoses'].value_counts()

9     23682
5      7130
6      6017
7      5775
8      5682
4      3567
3      1927
2       734
1       176
16       27
13        8
15        5
12        4
11        4
10        4
14        3
Name: number_diagnoses, dtype: int64

In [93]:
#df['discharge_disposition_id'].value_counts()
#df['admission_typeid'] = [1 if x == 'Caucasian' else 'Other' for x in df['cast']]

In [94]:
df['admission_typeid'].value_counts()

1    27604
3    10968
2    10008
6     3807
5     2052
8      279
7       19
4        8
Name: admission_typeid, dtype: int64

In [95]:
df['discharge_disposition_id'].value_counts()

1     34712
3      6313
6      6077
18     1781
2      1158
11     1072
22      944
5       678
25      483
4       395
7       314
13      229
14      210
23      203
8        52
28       48
15       23
24       21
9         8
10        6
19        6
17        5
27        3
16        2
12        1
20        1
Name: discharge_disposition_id, dtype: int64

In [96]:
df['discharge_disposition_id'] = [1 if x == 1 else 3 if x==3 else 6 if x==6 else 9  for x in df['discharge_disposition_id']]

In [97]:
df['discharge_disposition_id'].value_counts()

1    34712
9     7643
3     6313
6     6077
Name: discharge_disposition_id, dtype: int64

In [98]:
df['admission_typeid'] = [1 if x == 1 else 3 if x==3 else 2 if x==2 else 4  for x in df['admission_typeid']]

In [99]:
df['admission_typeid'].value_counts()

1    27604
3    10968
2    10008
4     6165
Name: admission_typeid, dtype: int64

In [100]:
df['admission_source_id'].value_counts()

7     28601
1     17019
17     3849
4      2226
6      1488
2       800
5       435
20      132
3        89
9        81
8        10
10        6
22        3
14        2
25        2
11        1
13        1
Name: admission_source_id, dtype: int64

In [101]:
df['admission_source_id'] = [7 if x == 7 else 1 if x==1 else 2 for x in df['admission_source_id']]

In [102]:
df['admission_source_id'].value_counts()

7    28601
1    17019
2     9125
Name: admission_source_id, dtype: int64

In [103]:
df['diag_2'].value_counts().head(20)

250       4113
276       3428
428       3129
427       2654
401       2555
599       1701
411       1605
496       1601
414       1586
250.02    1126
403       1077
285        863
250.01     852
707        822
584        821
780        793
518        725
486        701
585        684
682        666
Name: diag_2, dtype: int64

In [104]:
df['Med'].value_counts()

Yes    41015
No     13730
Name: Med, dtype: int64

In [105]:
df['change'].value_counts()

No    30791
Ch    23954
Name: change, dtype: int64

In [106]:
print(df['weight'].value_counts())
print('Shape of data frame :',df.shape)

?            52188
[75-100)      1075
[50-75)        696
[100-125)      507
[125-150)      121
[25-50)         81
[0-25)          35
[150-175)       33
[175-200)        7
>200             2
Name: weight, dtype: int64
Shape of data frame : (54745, 50)

In [107]:
#df['age group'].value_counts()
print(df.groupby(['age group'])['weight'].value_counts())

age group  weight
[0-10)     ?             143
           [0-25)          2
           [25-50)         1
[10-20)    ?             431
           [50-75)        10
                        ...
[80-90)    [125-150)       4
[90-100)   ?            1423
           [50-75)        51
           [75-100)       20
           [25-50)         7
Name: weight, Length: 68, dtype: int64

In [108]:
print('Admission Type ID...')
print(df['admission_typeid'].value_counts())

print()

print('discharge_disposition_id')
print(df['discharge_disposition_id'].value_counts())

Admission Type ID...
1    27604
3    10968
2    10008
4     6165
Name: admission_typeid, dtype: int64

discharge_disposition_id
1    34712
9     7643
3     6313
6     6077
Name: discharge_disposition_id, dtype: int64

In [109]:
#checking missing Data in data frame


df.isnull().sum().sort_values(ascending=False)

label                       0
num_lab_procedures          0
max_glu_serum               0
number_diagnoses            0
diag_3                      0
diag_2                      0
diag_1                      0
number_inpatient            0
number_emergency            0
number_outpatient           0
num_medications             0
num_procedures              0
medical_specialty           0
Med                         0
payer_code                  0
time_in_hospital            0
admission_source_id         0
discharge_disposition_id    0
admission_typeid            0
weight                      0
age group                   0
gender                      0
cast                        0
patient_no                  0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
change                      0
metformin-pioglitazone      0
metformin-rosiglitazone     0
glimepiride-pioglitazone    0
glipizide-metformin         0
glyburide-metformin         0
insulin                     0
citoglipton                 0
examide                     0
tolazamide                  0
troglitazone                0
miglitol                    0
acarbose                    0
rosiglitazone               0
pioglitazone                0
tolbutamide                 0
glyburide                   0
glipizide                   0
acetohexamide               0
glimepiride                 0
chlorpropamide              0
id                          0
dtype: int64

In [110]:
# checking Data Frame Values with '?' (missing values)

df[df=='?'].count()

C:\Users\abc\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

id                              0
patient_no                      0
cast                            0
gender                          0
age group                       0
weight                      52188
admission_typeid                0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                  24674
medical_specialty           25990
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                          9
diag_2                        259
diag_3                       1035
number_diagnoses                0
max_glu_serum                   0
A1Cresult                       0
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
Med                             0
label                           0
dtype: int64

In [111]:
print(df[df=='No'].count())
print(df.shape)

id                              0
patient_no                      0
cast                            0
gender                          0
age group                       0
weight                          0
admission_typeid                0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                      0
medical_specialty               0
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                          0
diag_2                          0
diag_3                          0
number_diagnoses                0
max_glu_serum                   0
A1Cresult                       0
metformin                   43095
repaglinide                 54095
nateglinide                 54368
chlorpropamide              54687
glimepiride                 51864
acetohexamide               54744
glipizide                   47941
glyburide                   48850
tolbutamide                 54728
pioglitazone                50700
rosiglitazone               51250
acarbose                    54604
miglitol                    54735
troglitazone                54743
tolazamide                  54721
examide                     54745
citoglipton                 54745
insulin                     27159
glyburide-metformin         54378
glipizide-metformin         54742
glimepiride-pioglitazone    54745
metformin-rosiglitazone     54743
metformin-pioglitazone      54744
change                      30791
Med                         13730
label                           0
dtype: int64
(54745, 50)

In [112]:
# dropping features with close to no contribtion to the models acccuracy Having more than 96% missing values

df=df.drop(['weight','id', 'patient_no','payer_code','metformin-pioglitazone','metformin-rosiglitazone','glimepiride-pioglitazone','glipizide-metformin','glyburide-metformin','citoglipton','examide','tolazamide','troglitazone','miglitol','tolbutamide','acarbose','repaglinide','nateglinide','chlorpropamide','acetohexamide','glimepiride','pioglitazone','rosiglitazone','medical_specialty'], axis = 1)

In [113]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
df['age group']=le.fit_transform(df['age group'])

In [114]:
df.columns

Index(['cast', 'gender', 'age group', 'admission_typeid',
       'discharge_disposition_id', 'admission_source_id', 'time_in_hospital',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'glipizide', 'glyburide', 'insulin', 'change', 'Med',
       'label'],
      dtype='object')

In [115]:

df['diag_1']=df['diag_1'].apply(lambda df: pd.to_numeric(df,errors='coerce'))

In [116]:
df['diag_2']=df['diag_2'].apply(lambda df: pd.to_numeric(df,errors='coerce'))

In [117]:
df['diag_3']=df['diag_3'].apply(lambda df: pd.to_numeric(df,errors='coerce'))

In [118]:
df['diag_2'].dtype

dtype('float64')

In [119]:
df.isnull().sum().sort_values(ascending=False)

diag_3                      3763
diag_2                      1694
diag_1                       751
label                          0
number_outpatient              0
gender                         0
age group                      0
admission_typeid               0
discharge_disposition_id       0
admission_source_id            0
time_in_hospital               0
num_lab_procedures             0
num_procedures                 0
num_medications                0
number_inpatient               0
number_emergency               0
Med                            0
number_diagnoses               0
max_glu_serum                  0
A1Cresult                      0
metformin                      0
glipizide                      0
glyburide                      0
insulin                        0
change                         0
cast                           0
dtype: int64

In [120]:
df['diag_1'].fillna(value=df['diag_1'].mode(), inplace=True)

In [121]:
df['diag_2'].fillna(value=df['diag_2'].mode(), inplace=True)

In [122]:
df['diag_3'].fillna(value=df['diag_3'].mode(), inplace=True)

In [123]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
df['diag_1']=le.fit_transform(df['diag_1'])
df['diag_2']=le.fit_transform(df['diag_2'])
df['diag_3']=le.fit_transform(df['diag_3'])

In [124]:
df.isnull().sum().sort_values(ascending=False)

label                       0
Med                         0
gender                      0
age group                   0
admission_typeid            0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
glipizide                   0
glyburide                   0
insulin                     0
change                      0
cast                        0
dtype: int64

In [125]:
Dummies=pd.get_dummies(df,columns=['cast','gender','change','Med'])

In [126]:
Dummies.drop([col for col in Dummies.columns if '?' in col],axis=1,inplace=True)

In [127]:
Dummies

,age group,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,...,label,cast_Caucasian,cast_Other,gender_Female,gender_Male,gender_Unknown/Invalid,change_Ch,change_No,Med_No,Med_Yes
0,0,4,9,1,1,41,0,1,0,0,...,NO,1,0,1,0,0,0,1,1,0
1,1,1,1,7,3,59,0,18,0,0,...,>5,1,0,1,0,0,1,0,0,1
2,2,1,1,7,2,11,5,13,2,0,...,NO,0,1,1,0,0,0,1,0,1
3,3,1,1,7,2,44,1,16,0,0,...,NO,1,0,0,1,0,1,0,0,1
4,4,1,1,7,1,51,0,8,0,0,...,NO,1,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101754,7,1,1,7,9,50,2,33,0,0,...,>5,1,0,1,0,0,1,0,0,1
101755,4,1,1,7,14,73,6,26,0,1,...,>5,0,1,1,0,0,1,0,0,1
101756,6,1,1,7,2,46,6,17,1,1,...,>5,0,1,1,0,0,0,1,0,1
101758,8,1,1,7,5,76,1,22,0,1,...,NO,1,0,1,0,0,1,0,0,1
101765,7,1,1,7,6,13,3,3,0,0,...,NO,1,0,0,1,0,0,1,1,0

In [128]:
print(Dummies.columns)

Index(['age group', 'admission_typeid', 'discharge_disposition_id',
       'admission_source_id', 'time_in_hospital', 'num_lab_procedures',
       'num_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient', 'diag_1', 'diag_2', 'diag_3',
       'number_diagnoses', 'max_glu_serum', 'A1Cresult', 'metformin',
       'glipizide', 'glyburide', 'insulin', 'label', 'cast_Caucasian',
       'cast_Other', 'gender_Female', 'gender_Male', 'gender_Unknown/Invalid',
       'change_Ch', 'change_No', 'Med_No', 'Med_Yes'],
      dtype='object')

In [129]:
Dummies.columns

Index(['age group', 'admission_typeid', 'discharge_disposition_id',
       'admission_source_id', 'time_in_hospital', 'num_lab_procedures',
       'num_procedures', 'num_medications', 'number_outpatient',
       'number_emergency', 'number_inpatient', 'diag_1', 'diag_2', 'diag_3',
       'number_diagnoses', 'max_glu_serum', 'A1Cresult', 'metformin',
       'glipizide', 'glyburide', 'insulin', 'label', 'cast_Caucasian',
       'cast_Other', 'gender_Female', 'gender_Male', 'gender_Unknown/Invalid',
       'change_Ch', 'change_No', 'Med_No', 'Med_Yes'],
      dtype='object')

In [130]:
#print(df['medical_specialty'].value_counts().sort_values(ascending=False).head(20))

In [131]:
Dummies['max_glu_serum'].value_counts()

None    52275
Norm     1262
>200      708
>300      500
Name: max_glu_serum, dtype: int64

In [132]:
from sklearn.preprocessing import LabelEncoder

In [133]:
order={"None":0,"Norm":1,">200":2,">300":3}
Dummies['max_glu_serum']=Dummies['max_glu_serum'].map(order)

In [134]:
Dummies['max_glu_serum'].value_counts()

0    52275
1     1262
2      708
3      500
Name: max_glu_serum, dtype: int64

In [135]:
Dummies['A1Cresult'].value_counts()

None    44603
>8       4864
Norm     3023
>7       2255
Name: A1Cresult, dtype: int64

In [136]:
order={"None":0,"Norm":1,">7":2,">8":3}
Dummies['A1Cresult']=Dummies['A1Cresult'].map(order)

In [137]:
Dummies['A1Cresult'].value_counts()

0    44603
3     4864
1     3023
2     2255
Name: A1Cresult, dtype: int64

In [138]:
Dummies['metformin'].value_counts()

No        43095
Steady    10642
Up          661
Down        347
Name: metformin, dtype: int64

In [139]:
order={"Down":0,"No":1,"Steady":2,"Up":3}



Dummies['metformin']=Dummies['metformin'].map(order)




Dummies['glipizide']=Dummies['glipizide'].map(order)
Dummies['glyburide']=Dummies['glyburide'].map(order)


Dummies['insulin']=Dummies['insulin'].map(order)




#Dummies=Dummies.drop('metformin','repaglinide','nateglinide','chlorpropamide','glimepiride','acetohexamide','glipizide','glyburide','tolbutamide','pioglitazone','rosiglitazone','acarbose','insulin','glyburide-metformin', axis = 1)

In [140]:
#from sklearn.preprocessing import LabelEncoder

#le=LabelEncoder()
#Dummies['metformin','repaglinide','nateglinide','chlorpropamide','glimepiride','acetohexamide','glipizide','glyburide','tolbutamide','pioglitazone','rosiglitazone','insulin','glyburide-metformin']=le.fit_transform(Dummies['metformin','repaglinide','nateglinide','chlorpropamide','glimepiride','acetohexamide','glipizide','glyburide','pioglitazone','rosiglitazone','insulin'])

In [141]:
Dummies

,age group,admission_typeid,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,...,label,cast_Caucasian,cast_Other,gender_Female,gender_Male,gender_Unknown/Invalid,change_Ch,change_No,Med_No,Med_Yes
0,0,4,9,1,1,41,0,1,0,0,...,NO,1,0,1,0,0,0,1,1,0
1,1,1,1,7,3,59,0,18,0,0,...,>5,1,0,1,0,0,1,0,0,1
2,2,1,1,7,2,11,5,13,2,0,...,NO,0,1,1,0,0,0,1,0,1
3,3,1,1,7,2,44,1,16,0,0,...,NO,1,0,0,1,0,1,0,0,1
4,4,1,1,7,1,51,0,8,0,0,...,NO,1,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101754,7,1,1,7,9,50,2,33,0,0,...,>5,1,0,1,0,0,1,0,0,1
101755,4,1,1,7,14,73,6,26,0,1,...,>5,0,1,1,0,0,1,0,0,1
101756,6,1,1,7,2,46,6,17,1,1,...,>5,0,1,1,0,0,0,1,0,1
101758,8,1,1,7,5,76,1,22,0,1,...,NO,1,0,1,0,0,1,0,0,1
101765,7,1,1,7,6,13,3,3,0,0,...,NO,1,0,0,1,0,0,1,1,0

In [142]:
order={"NO":0,">5":1,"<30":2}

Dummies['label']=Dummies['label'].map(order)

In [143]:
Dummies['label'].value_counts()

0    42701
1     9878
2     2166
Name: label, dtype: int64

In [144]:
X = Dummies.drop("label", axis = 1)
y = Dummies["label"]

In [145]:
print('Shape of X = ', X.shape)
print('Shape of y = ', y.shape)

Shape of X =  (54745, 30)
Shape of y =  (54745,)

In [146]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.3, random_state=54)

In [147]:
import sklearn.feature_selection

select = sklearn.feature_selection.SelectKBest(k=20)
selected_features = select.fit(X_train, y_train)
indices_selected = selected_features.get_support(indices=True)
colnames_selected = [X.columns[i] for i in indices_selected]

X_train_selected = X_train[colnames_selected]
X_test_selected = X_test[colnames_selected]

In [148]:
from sklearn.preprocessing import StandardScaler

In [149]:
sc = StandardScaler()

sc.fit(X_train)

X_train_sc = sc.transform(X_train)
X_test_sc = sc.transform(X_test)

In [150]:
X_test_sc.shape

(38322, 30)

In [151]:
X_train.isnull().sum().sort_values(ascending=False)

Med_Yes                     0
Med_No                      0
admission_typeid            0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
glipizide                   0
glyburide                   0
insulin                     0
cast_Caucasian              0
cast_Other                  0
gender_Female               0
gender_Male                 0
gender_Unknown/Invalid      0
change_Ch                   0
change_No                   0
age group                   0
dtype: int64

In [152]:
#from sklearn.decomposition import PCA

#pca = PCA(n_components=10)
#X_pca = pd.DataFrame(pca.fit_transform(Dummies))




from sklearn.decomposition import PCA

pca=PCA(n_components=10)
X_trainn=pca.fit_transform(X_train_sc)
X_testt=pca.transform(X_test_sc)

In [153]:
from sklearn.neighbors import KNeighborsClassifier

In [154]:
clf0=KNeighborsClassifier()
clf0.fit(X_train_sc,y_train)
pred0=clf0.predict(X_test_sc)
clf0.score(X_test_sc,y_test)

0.7602160638797557

In [155]:
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier

In [156]:
clf1=AdaBoostClassifier()
clf1.fit(X_train_sc,y_train)
pred1=clf1.predict(X_test_sc)
clf1.score(X_test_sc,y_test)

0.7804133395960545

In [157]:
clf1=AdaBoostClassifier()
clf1.fit(X_train_sc,y_train)
pred1=clf1.predict(X_test_sc)
clf1.score(X_test_sc,y_test)

0.7804133395960545

In [158]:

clf2=RandomForestClassifier()
clf2.fit(X_train_sc,y_train)
pred2=clf2.predict(X_test_sc)
clf2.score(X_test_sc,y_test)

0.7813005584259695

In [159]:
from sklearn import svm

In [160]:
clf3=svm.SVC()
clf3.fit(X_train_sc,y_train)
pred3=clf3.predict(X_test_sc)
clf3.score(X_test_sc,y_test)

0.7804655289389907

In [161]:
#only the best from the 4 models will be used

In [162]:
len(pred1)

38322

In [163]:
len(pred2)

38322

In [164]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report 
print ("Accuracy : " , accuracy_score(y_test,pred3)*100)  
print("Report : \n", classification_report(y_test, pred3))

Accuracy :  78.04655289389906
Report :
               precision    recall  f1-score   support

           0       0.79      0.99      0.88     29820
           1       0.47      0.04      0.08      6935
           2       0.20      0.00      0.00      1567

    accuracy                           0.78     38322
   macro avg       0.49      0.35      0.32     38322
weighted avg       0.71      0.78      0.70     38322